/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfe2e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #414244;
}


label {
  display: block;
  margin-top: 10px;
}

.navbar {
  height: 60px;
}
.navbar-brand {
  margin: unset;
  padding: 1rem;
  width: 160px;
  text-align: center;
}

#root {
  height: calc(100% - 60px);
}
.main-div {
  height: 100%;
}
.main-content-div {
  height: 95%;
}
.container {
  height: calc(100% - 10px);
  min-width: calc(100% - 30px) !important;
  max-width: calc(100% - 30px) !important;
  width: calc(100% - 30px) !important;
  padding: 5px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.ant-transfer-list {
    width: 300px !important;
    height: 95% !important;
}
.ant-btn-icon-only.ant-btn-sm {
    font-size: 7px !important;
}

#Modal {
  .ant-modal-content{
    background: transparent !important;
    box-shadow: unset !important
  }

  .ant-modal-close {
    top: 57px !important;
    right: 10px !important;
  }
}
.react-confirm-alert-overlay {
  background: unset !important;
}
.react-confirm-alert-body {
  background: rgba(52,58, 64, 85) !important;
  color: rgb(153, 156, 159) !important;
}
.react-confirm-alert-button-group > button {
    background: #4b91ff !important;
  }

.tab-container {
  height: 100%;
}
.sc-bdVaJa {
  height: 100%;
}
.sc-bwzfXH {
  height: calc(100% - 30px);
}

.main-tree-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;

  .left-panel{
    border: solid 1px #dfe2e6;
    // border-right: 2px solid #414244;
    height: 100%;
    width: 23%;

    .config-tree-toggle {
      display: flex;
      justify-content: center;
      height: 22px;
      border-radius: 5px;
      overflow: hidden;
    }

    .light {
      background: #b3b3b3;
    }
    .dark {
      background: #414244;
    }

    .tree-container {
      background: #dfe2e6;
      height: calc(100% - 22px);


      .ant-tree {
        height: calc(100% - 42px);
        overflow-y: scroll;
        overflow-x: auto;
        margin: 5px 0 5px 5px;
      }
    }
  }

  .right-panel {
    padding: 1%;
    border: solid 1px #dfe2e6;
    height: 100%;
    width: 77%;
    overflow: auto;
  }
}

.tree-menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  border: solid 2px #999;
  display: none;
  background: #ccc;
  z-index: 30;
  .btn {
    background: unset;
    border: unset;
    color: #333;
    font-size: 11px;
  }
}
.tree-menu.open {
  display: block;
}
.tree-menu.close {
  display: none;
}

.ant-tree-treenode.filter-node {
  color: #000 !important;
  font-weight: 400 !important;
  display: flex !important;
  flex-direction: row !important;
}
.ant-tree-treenode {
  color: #000 !important;
  display: none !important;
}
.ant-tree .ant-tree-treenode.filter-node .ant-tree-title {
    color: unset !important;
}
.ant-tree-list-holder-inner-tooltip {
  display: none;
}

.tab-opener {
  background: #353a40;
  border: transparent;
  border-radius: unset;
  position: absolute;
  top: 13px;
  width: 80px;
}

.site-dropdown {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  border: 1px solid rgb(62, 130, 247);
  border-radius: 1px;
  width: 150px;
  text-align: center;
  background-color: #dee2e6;
}

.recharts-surface {
  overflow: visible !important;
}
